/*--------------------header----------------------*/
.header {
	position: fixed;
	left: 0;
	right: 0;
	top: 48px;
	z-index: 50;

	@include max-screen($sm){
		top: 15px;
	}

	&__body{
		position: relative;
		padding: 12px;
		display: flex;
		align-items: center;

		& > *:not(.header__menu) {
			position: relative;
			z-index: 6;
		}

		&:before{
			content: '';
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 5;

			border-radius: 2px;
			border: 2px solid $border;
			background-color: $bgMuted;
			backdrop-filter: blur(15px);
		}

		@include min-screen($sm){
			max-width: 594px;
			
			margin: 0 auto;
		}
	}
}
.header__logo {
	flex: 0 0 51px;
	margin-left: 12px;
	margin-right: 32px;

	img{
		display: block;
		width: 100%;
	}
}
.header__menu {
	flex: 1 1 auto;

	@include menu-mob($media: $sm, $burgerColor: #fff, $burgerOpenColor: #fff, $plateBgColor: #fff, $plateHeight: 80);

	@include max-screen($sm){
		flex-direction: column;

	}
}
.menu {}
.menu__list {
	position: relative;
	display: flex;
	column-gap: 20px;
	list-style-type: none;

	@include max-screen($sm){
		flex-direction: column;
		align-items: flex-end;
		padding-top: 110px;
		padding-inline: 15px;
		padding-bottom: 30px;
	}

	@include min-screen($sm){
		align-items: center;
		flex-wrap: wrap;
		z-index: 6;
	}
}
.menu__item {}
.menu__link {
	position: relative;
	font-family: $satReg;
	font-size: 13px;
	line-height: 160%;
	text-transform: uppercase;
	color: $textDefault;
	letter-spacing: 0.092em;

	@include max-screen($sm){
		font-size: 24px;
	}

	&:after{
		content: '';
		position: absolute;
		bottom: -2px;
		left: 0;
		right: 0;
		height: 1px;
		background-color: $textDefault;
		transition: transform 0.35s;
		transform: scale(0);
	}
	@media (any-hover: hover) { //только для устройств с ховером
			&:hover{
				&:after{
					transform: scale(1.0);
				}
			}
		}

	.menu-arrow{
		position: relative;
		top: -1px;
		margin-left: 2px;
		font-size: 5px;
		vertical-align: center;
	}
}

.header__talk {
	flex: 0 0 111px;
}

/*--------------------END header----------------------*/ 