<footer class="footer" style="padding-bottom: 100px;">
	<h1>Footer</h1>
	<i class="icon-font in"></i>
	
	<svg class="icon icon-profile">
	    <use xlink:href="assets/img/spritemap.svg#sprite-profile"></use>
	</svg>
</footer>