<header class="header">
	<div class="header__wrapper">
		<nav class="header__menu">
			<ul class="header__list">
				
				{# {% for item in navigation %} #}
		            {# <li class="header__menu-item"><a class="header__menu-link" href="#{{ item }}">{{ item}}</a></li> #}
		        {# {% endfor %} #}
			
			</ul>
		</nav>
	</div>
</header>