{% extends "templates/layouts/base.twig" %}

{% set title = "PEPELAC" %}

{% set pageName = "main" %}

{% block content %}
	<div class="__wrapper">
		<h1>pizdyk</h1>
		<button class="btn">button</button>
		<button class="btn btn--arrow">button <i class="icon-font arrrow-r-t"></i></button>
		<button class="btn btn--arrow-round">button</button>
	</div>

{% endblock %}
