{% extends "templates/layouts/base.twig" %}

{% set title = "UI-KIT" %}

{% set pageName = "ui-kit" %}

{% block content %}
	{% from "templates/macros/macros.twig" import alert %}
	{{ alert('success', 'Данные сохранены!') }}
	{{ alert('success', false) }}

	<hr>

	<i class="icon-font arik"></i>
	<i class="icon-font soc-tw"></i>
	<i class="icon-font menu-arrow"></i>
	<div class="__wrapper">
		<h1>pizdyk</h1>
		<button class="btn">button</button>
		<button class="btn btn--arrow">button <i class="icon-font arrrow-r-t"></i></button>
		<button class="btn btn--arrow-round">button text</button>
		<button class="btn btn--label">label</button>
	</div>

{% endblock %}
