/*--------------------process----------------------*/
.process {
	// @include adaptive-value('padding-top', 160, 24, 1);
}
.process__wrapper {}
.process__top {
	padding-top: 24px;
	min-height: 100svh;
	// max-height: 753px;
	display: grid;
	grid-template-rows: 1fr auto;
	row-gap: 48px;

	.blockhead__title{
			max-width: 710px;
		  @include adaptive-value('font-size', 128, 45, 1);
	}
	.blockhead__text {
 		text-wrap: auto;
  		@include adaptive-value('font-size', 20, 16, 1);
  	}
}
.process__blockhead {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.process__nandler {
	@include adaptive-value('height', 160, 80, 1);
	position: relative;
	display: grid;
	grid-template-rows: 46px 1fr;
	row-gap: 16px;
	justify-items: center;

	&:after{
		content: '';
		width: 1px;
		background-color: $border;
	}
}
.scroll-down {
	width: 46px;
	height: 45px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color .2s ease, color 0.2s ease;

	@media (any-hover: hover) { //только для устройств с ховером
			cursor: pointer;
			&:hover{
				background-color: $textDefault;
				color: $textInv;
			}
		}

	.icon-font{
		font-size: 15px;
	}
}
.process__items {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	counter-reset: step;
}
.process__item {
	position: relative;
	width: 50%;

	&:nth-child(even){
		align-self: flex-start;	
		@include adaptive-value('padding-right', 100, 0, 1);

		&:before{
			right: -20px;
		}
		&:after{
			right: 0;
		}
	}
	&:nth-child(odd){
		@include adaptive-value('padding-left', 100, 0, 1);
		&:before{

			left: -20px;
		}
		&:after{
			left: -1px;
		}
		
	}
	
	&:not(:first-child){
		margin-top: -50px;
	}
	&:last-child{
		&:after{
			height: 50%;
		}
	}

	&:before,
	&:after{
		// content: '';
		position: absolute;
	}
	&:before{
  		content: counter(step, decimal-leading-zero);
		counter-increment: step;
		width: 40px;
		height: 40px;
		top: 50%;
		translate: 0 -50%;
		border-radius: 50%;
		font-family: $satReg;
		font-size: 13px;
		line-height: 36px;
		letter-spacing: 0.12em;
		text-align: center;
		@extend .blur-border;
		outline: 16px solid $bg;
		z-index: 2;
	}
	&:after{
		content: '';
		top: 0;
		width: 1px;
		height: 100%;
		background-color: $border;
	}
}
.item-process__body {


}
/*--------------------END process----------------------*/ 