<main class="main" id="home">
	<section class="hero">
		<div class="hero__wrapper">
			<div class="hero__content">
				<h1>The Future of Urban Mobility</h1>
				<div class="hero__text">
					<p class="paragrhaph">Experience the ride of your life with Cowboy’s sleek, smart, and powerful electric bikes designed for urban adventurers.</p>
				</div>
				<div class="hero__btns">
					<a href="#" class="hero__btn btn btn-dark">Explore Models</a>
					<a href="#" class="hero__btn btn">Start Your Ride</a>
				</div>
			</div>
			<div class="hero__img">
				<img src="/src/assets/img/hero.png" alt="hero-img">
			</div>
		</div>
	</section>
</main>