{% from "../../macros/macros.twig" import blockhead %}
<section class="hero">
	<div class="hero__wrapper">
		{{ blockhead(false, 'Web Designer', '& Developer', 'Premium web design, development, and SEO services to help your business stand out.') }}
	</div>
</section>
