<div class="clients">
	<div class="clients__wrapper">
		{% for i in 0..5 %}
		   <div class="clients__logo">
		   	<img src="/src/assets/img/clients/logo-{{i}}.svg" alt="client">
		   </div>
		{% endfor %}
	</div>
</div>