<section class="hero">
	<div class="hero__container">
		<div class="hero__picture">
			<img src="/src/assets/img/hero/hero-img.png" alt="hero" class="hero__image">
		</div>
		<div class="hero__blockhead">
			{{ mixins.blockhead(false, 'Web Designer', '& Developer', 'Premium web design, development, and SEO services to help your business stand out.') }}	
		</div>
	</div>
</section>
