<section class="process">
	<div class="process__wrapper">
		<div class="process__top">
			<div class="process__blockhead">
				{{mixins.blockhead('THe PRocess',' Your Website', 'in 5 steps', 'Our process ensures that we create a website tailored to your business needs.', modClass)}}
			</div>
			<div class="process__nandler">
				<a href="#steps" class="scroll-down blur-border">
					<i class="icon-font arrow-down"></i>
				</a>
			</div>
		</div>
		<div id="steps" class="process__items">
				{% for item in site.steps %}
					<div class="process__item item-process">
						{{ mixins.card(item.label, item.subtitle, item.title, item.text, item.list, 'item-process__body') }}
					</div>
				{% endfor %}
		</div>

	</div>
</section>