{% from "../../../macros/macros.twig" import blockhead %}
<section class="process">
	<div class="process__wrapper">
		<div class="process__top">
			<div class="process__blockhead">
				{{blockhead('THe PRocess',' Your Website', 'in 5 steps', 'Our process ensures that we create a website tailored to your business needs.', modClass)}}
			</div>
			<div class="process__nandler">
				<button type="button" class="scroll-down blur-border">
					<i class="icon-font arrow-down"></i>
				</button>
			</div>
		</div>

	</div>
</section>