<section class="skills">
	<div class="skills__wrapper">
		{% for item in site.skills %} {# site - объект с данными из src/data/site.js#}
			{{ mixins.skill(item.title, item.text, item.btn) }}	
		{% endfor %}
	</div>
</section>