// @import "bourbon/bourbon"
// +font-face("RobotoRegular", "../fonts/RobotoRegular/RobotoRegular", $file-formats: woff woff2)
// +font("raleway","raleway", "raleway-v22-latin_cyrillic-600", "400", "normal")
+font("satoshi","Satoshi-Light", "Satoshi-Light", "300", "normal")
+font("satoshi","Satoshi-Regular", "Satoshi-Regular", "400", "normal")
+font("chillax","Chillax-Light", "Chillax-Light", "400", "normal")
+font("chillax","Chillax-Regular", "Chillax-Regular", "400", "normal")

@font-face //иконочный шрифт
	font-family: 'icon-font'
	// src: url('../fonts/icon-font/icon-font.eot')
	src: url('../fonts/icon-font/icon-font.woff2') format('woff2') /* Super Modern Browsers */
	// url('../fonts/icon-font/icon-font.woff')  format('woff'), /* Pretty Modern Browsers */
	// url('../fonts/icon-font/icon-font.ttf')   format('truetype'), /* Safari, Android, iOS */
	// url('../fonts/icon-font/icon-font.svg#icon-font') format('svg') /* Legacy iOS */
	font-weight: normal
	font-style: normal

// Fonts helper:
	// 100 - Thin (Hairline)
	// 200 - Extra Light (Ultra Light)
	// 300 - Light (Ultra Light)
	// 400 - Regular (Normal)
	// 500 - Medium
	// 600 - Semi Bold (Demi Bold)
	// 700 - Bold
	// 800 - Extra Bold (Ultra Bold)
	// 900 - Black (Heavy)